# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# IDEs and editors
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Build files
dist/
build/

# Temporary files
tmp/
temp/
*.tmp
*.swp
*.swo